magnitude 20
exposuretime 300.0
latitude 29.934
longitude 31.827
elevation 476.0
FOV_coverage 0.13
FOV 0.13
FOV_coverage_type square
FOV_type square
tesselationFile ../input/KAO.tess
slew_rate 100
readout 0.04 
filt griz
horizon 30
overhead_per_exposure 0.0
min_observability_duration 5.0
filt_change_time 0.0
